<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Информация о заказе</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form method="POST" th:action="@{/logout}">
  <button type="submit" class="btn btn-primary">Выйти из личного кабинета</button>
</form>
<br>
<a href="/admin" class="btn btn-primary">Назад в личный кабинет</a>
<br><br>
<a href="/admin/orders" class="btn btn-primary">Назад к списку заказов</a>
<hr>
<br>
<h3>Информация о заказе: </h3>
<form th:method="post" th:action="@{/admin/order/{id}(id=${order.getId()})}" th:object="${order}">
  <p class="card-title" th:text="'Номер заказа: ' + ${order.getNumber()}"></p>
  <p class="card-text"th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
  <p class="card-text"th:text="'Состав заказа: ' + ${order.getProduct().getTitle()}"></p>
  <p class="card-text"th:text="'Стоимость: ' + ${order.getPrice()}"></p>
  <p class="card-text"th:text="'Логин покупателя: ' + ${order.getPerson().getLogin()}"></p>
  <p class="card-text"th:text="'ID покупателя: ' + ${order.getPerson().getId()}"></p>
  <p class="card-text"th:text="'Статус заказа: ' + ${order.getStatus()}"></p>
  <label for="status">Изменить статус заказа: </label>
  <select name="status" th:field="*{status}" id="status">
    <div th:each="orderStatus: ${status}">
      <option th:text="${orderStatus}" th:value="${orderStatus}"></option>
    </div>
  </select>
  <input type="submit" value="Изменить статус" class="btn btn-primary">
</form>
</body>
</html>