<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о заказе</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form method="POST" th:action="@{/logout}">
    <button type="submit" class="btn btn-primary">Выйти из личного кабинета</button>
</form>
<br>
<a href="/admin" class="btn btn-primary">Назад в личный кабинет</a>
<br><br>
<a href="/admin/users" class="btn btn-primary">Назад к списку пользователей</a>
<hr>
<br>
<h3>Информация о пользователе: </h3>
    <p class="card-title" th:text="'Логин: ' + ${user.getLogin()}"></p>
    <p class="card-text"th:text="'ID пользователя: ' + ${user.getId()}"></p>
    <p class="card-text"th:text="'Роль пользователя: ' + ${user.getRole}"></p>
<div th:if="${!user.getRole().equals('ROLE_ADMIN')}">
<form th:method="post" th:action="@{/admin/user/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="role">Изменить роль пользователя: </label>
    <select name="role" th:field="*{role}" id="role">
        <option th:text="${role[1]}" th:value="${role[1]}"></option>
        <option th:text="${role[2]}" th:value="${role[2]}"></option>
    </select>
    <input type="submit" value="Изменить" class="btn btn-primary">
</form>
</div>
</body>
</html>